@font-face {
  font-family: Lato;
   src: url("../rsschool-cv/assets/fonts/Lato/Lato-Regular.ttf");
 }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}

li {
  display: list-item;
}

a {
  text-decoration: none;
  color: #474646;
}

a:hover {
  color: #dab55e;
  transition: .4s;
}

h2 {
  color: #dab55e;
}

p {
 margin-bottom: 10px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #474646;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

.header {
 background-color: #6a6276;
}

.header a {
  color: #fff;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.section {
  width: 50%;
  padding: 10px;
  padding-bottom: 30px;
}

.section-profile {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.section-profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  text-transform: uppercase;
}

.section img {
  width: 20%;
  display: flex;
  border-radius: 50%;
  box-shadow: 0 0 6px #dab55e;
  padding: 3px;
}

.section-pic {
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.section-item {
  display: flex;
}

.header-logo img {
  width: 60%;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0 6px rgba(26, 9, 9, 0.5);
  padding: 3px;
  margin: 10px auto;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
}
.main {
  display: flex;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profile-title, .section-title, .contacts, .skills, .main-title, .about, .education {
  padding-bottom: 20px;
  padding-left: 30px;
}

.section-pic {
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
}

.section-item {
  margin-bottom: 10px;
}

.location {
  background-image: url(../rsschool-cv/assets/img/Loc.svg);
}
.email {
  background-image: url(../rsschool-cv/assets/img/mail.svg);
}
.telegram {
  background-image: url(../rsschool-cv/assets/img/telegram.svg);
}
.discord {
  background-image: url(../rsschool-cv/assets/img/discord.svg);
}
.github {
  background-image: url(../rsschool-cv/assets/img/github.svg);
}
.web-dev {
  background-image: url(../rsschool-cv/assets/img/wd.png);
}
.js {
  background-image: url(../rsschool-cv/assets/img/js.png);
}
.sql {
  background-image: url(../rsschool-cv/assets/img/sql.png);
}
.git {
  background-image: url(../rsschool-cv/assets/img/git.png);
}
.english {
  background-image: url(../rsschool-cv/assets/img/english.png);
}
.spanish {
  background-image: url(../rsschool-cv/assets/img/spain.png);
}

.footer {
  background-color: #6a6276;
  text-align: center;
  padding: 10px;
  color: #fff;
}
.footer a {
  color: #fff;
}

.footer a:hover {
  color: #dab55e;
  transition: .4s;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
}

.footer-pic {
  width: 150px;
  margin: 0;
  padding: 20px;
}
